/* Eliminamos las restricciones de Vite para que KidUs respire */
#root {
  width: 100%;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Clases de utilidad para logos si los necesitas en el Header */
.logo {
  height: 3.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(14, 165, 233, 0.3));
}

/* Transiciones suaves para cambios de ruta */
.page-transition-enter {
  opacity: 0;
  transform: scale(1.02);
}
.page-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}
